<% if current_user %>
  <% if current_user.twitter %>
    <p><strong> Twitter: </strong> <%= current_user.twitter.user.name %></p>
  <% end %>
  <% if current_user.facebook %>
    <p><strong> Facebook: </strong> <%= current_user.facebook.name %></p>
  <% end %>
<% end %>
